<div class="container">
    <div class="section">
        <div class="header">
            <h1>Welcome to Service Booking System</h1>
            <p>Choose your type to get started:</p>
        </div>
        <div class="button">
            <button nz-button nzType="primary" routerLink="/register_owner">
                Register as a Owner
            </button>
            <br>
            <br>
            <button nz-button nzType="primary" routerLink="/register_tenant">
                Register as a Tenant
            </button>
        </div>
    </div>
</div>
