.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f5f7f9;
    font-family: 'Arial',sans-serif;
}

.section{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px;
    max-width: 400px;
    width: 90%;
}
.header{
    margin-bottom: 20px;
}

h1{
    font-size: 24px;
    color: #333;
}

p{
    font-size: 16px;
    color: #666;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button{
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #001529;
}

button:hover{
    background-color: #1890ff;
    border-color: #1890ff;
    color: #fff;
}