<div *ngIf = "!isTenantLoggedIn && !isOwnerLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #bb2929;">

    <div>
      <h2 style="color: white; padding-left: 10px;">SmartFix</h2>
    </div>
    
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/home" routerLinkActive="active">Home</a>
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Register</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
    
    </nz-header>
</div>

<div *ngIf="isTenantLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #bb2929;">
     <div>
      <h2 style="color: white; padding-left: 10px;">Service Booking System</h2>
     </div>
     <div class="nav-links">
       <a nz-button nzType="link" routerLink="/tenant/dashboard" routerLinkActive="active">Dashboard</a>
       <a nz-button nzType="link" routerLink="/tenant/bookings" routerLinkActive="active">Bookings</a>
       <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
     </div>
  </nz-header>

  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/tenant/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/tenant/bookings" routerLinkActive="active">Bookings</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </nz-sider>
</div>

<div *ngIf="isOwnerLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #bb2929;">
     <div>
      <h2 style="color: white; padding-left: 10px;">Service Booking System</h2>
     </div>
     <div class="nav-links">
       <a nz-button nzType="link" routerLink="/owner/dashboard" routerLinkActive="active">Dashboard</a>
       <a nz-button nzType="link" routerLink="/owner/ad" routerLinkActive="active">Post Ad</a>
       <a nz-button nzType="link" routerLink="/owner/ads" routerLinkActive="active">Ads</a>
       <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
     </div>
  </nz-header>

  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/owner/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/owner/ad" routerLinkActive="active">Post Ad</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/owner/ads" routerLinkActive="active">Ads</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </nz-sider>
</div>

<router-outlet></router-outlet>