<br><br>
<div class="bg">
   <div class="parent">
       <div class="child">
         <div nz-col>
             <h1 style="margin-left: 55px">Tenant SignUp</h1>
         </div>

         <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
           <nz-form-item>
              <nz-form-control nzHasFeedback nzErrorTip="The input is not valid E-mail!">
                 <input nz-input placeholder="E-mail" formControlName="email" id="email" />
              </nz-form-control>
           </nz-form-item>

           <nz-form-item>
               <nz-form-control nzHasFeedback nzErrorTip="The input is not valid password!">
                   <input nz-input type="password" placeholder="Password" formControlName="password" id="password" />
               </nz-form-control>
            </nz-form-item>

            <nz-form-item>
               <nz-form-control nzHasFeedback nzErrorTip="Please confirm your password!">
                   <input nz-input type="password" placeholder="Confirm Password" formControlLast="checkPassword" id="confirmPassword" />
               </nz-form-control>
            </nz-form-item>

            <nz-form-item>
               <nz-form-control nzHasFeedback nzErrorTip="The input is not valid name!">
                  <input nz-input type="text" placeholder="Name" formControlName="name" id="name" />
               </nz-form-control>
            </nz-form-item>

            <nz-form-item>
               <nz-form-control nzHasFeedback nzErrorTip="The input is not valid lastname!">
                  <input nz-input type="text" placeholder="Lastname" formControlName="lastname" id="lastname" />
               </nz-form-control>
            </nz-form-item>

            <nz-form-item>
               <nz-form-control nzHasFeedback nzErrorTip="The input is not valid phone number!">
                  <input nz-input type="number" placeholder="Phone" formControlName="phone" id="phone" />
               </nz-form-control>
            </nz-form-item>

            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">
               Register
            </button>
            Or <a routerLink="/login">login now!</a>
         </form>

       </div>
   </div>
</div>
